<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lifefit">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MenuOlahraga"></activity>
        <activity android:name=".MenuMakan" />
        <activity android:name=".IndeksMassaTubuh.page_monitoring" />
        <activity android:name=".IndeksMassaTubuh.indeks_massa_tubuh_grafik" />
        <activity android:name=".IndeksMassaTubuh.indeks_massa_tubuh_input" />
        <activity android:name=".IndeksMassaTubuh.indeks_massa_tubuh" />
        <activity android:name=".UserLoginActivity" />
        <activity android:name=".UserSignupActivity" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AdminLoginActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>