<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lifefit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_detak_jantung"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_detak_jantung_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".penyakit_sakit_tenggorokan"></activity>
        <activity android:name=".penyakit_demam" />
        <activity android:name=".penyakit_flu" />
        <activity android:name=".Flu" />
        <activity android:name=".penyakit_ringan" />
        <activity android:name=".DenyutJantung.denyut_jantung_item" />
        <activity android:name=".DenyutJantung.denyut_jantung_input" />
        <activity android:name=".DenyutJantung.denyut_jantung" />
        <activity android:name=".TekananDarah.tensi_input" />
        <activity android:name=".TekananDarah.tensi" />
        <activity android:name=".akun_saya_edit" />
        <activity android:name=".DeteksiPenyakit" />
        <activity android:name=".akun_saya" />
        <activity android:name=".MenuOlahraga" />
        <activity android:name=".MenuMakan" />
        <activity android:name=".IndeksMassaTubuh.page_monitoring" />
        <activity android:name=".IndeksMassaTubuh.indeks_massa_tubuh_grafik" />
        <activity android:name=".IndeksMassaTubuh.indeks_massa_tubuh_input" />
        <activity android:name=".IndeksMassaTubuh.indeks_massa_tubuh" />
        <activity android:name=".UserLoginActivity" />
        <activity android:name=".UserSignupActivity" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AdminLoginActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>